<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softcon.thetutorfinal">
    <!-- INTERNET PERMISSION -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LockActivity" />
        <!-- Activities -->
        <activity
            android:name=".TodayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudyingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SeeMoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrivacyPolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FindPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".EventNotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DiagnosisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeveloperActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PopDdayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AfterStudyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AskActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".TutorialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SignupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".HelloActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NoInternetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" /> <!-- START WITH THIS ACTIVITY -->
        <activity
            android:name=".LoadingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>